@font-face {
    font-family: dromo;
    src: url(RTDromo-Medium.ttf);
  }

  *{
    font-family: dromo;
    margin: 0.2%; 
  }

  .titoli{
    display: flex;
    font-size: 48px; 
    
  }

  #nome{
    
  }

  #sezione{

  }

  .testi{
    margin-top: 0.5%;
    max-width: 50%;
    font-size: 2em; 
  }